.now header {
  margin-bottom: 50px;
  grid-template-columns: max-content 1fr;
}
.now__content {
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
  overflow-x: scroll;
}

.now__content-item {
  max-width: 263px;
  margin-right: 25px;
}

.now__content-item > .flex {
  flex-direction: column;
  justify-content: space-between;
}
.now__content-item img {
  max-width: 220px;
  height: 220px;
  margin-bottom: 20px;
}

.now__content-item a > p {
  color: var(--link-color);
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  line-height: 22px;
}
.now__content-item:hover p {
  color: #4673ab;
}
@media (max-width: 750px) {
  .now {
    display: none;
  }
}
